@import url(screen/image.css);

html {
  border: 0px;
}

body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: #A9FF2F;
  background-image: url(../images/background.gif);
  background-repeat: repeat-x;
}

div {
  text-align: center;
}

img {
  border: 0px;
}

a {
  color: #666666;
  border-bottom: 1px dashed #FF9F07;
  text-decoration: none;
}

a:hover {
  color: #000000;
  border-bottom: 1px dashed #000000;
}

h1 {
  color: #FF9F07;
  font-size: 1.4em;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
h2 {
  color: #FF9F07;
  margin-top: 4em;
  margin-bottom: 0.75em;
  font-size: 1.3em;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
h3 {
  color: #000000;
  margin-bottom: 0.4em;
  margin-top: 1em;
  font-size: 1.2em;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
h4 {
  color: #000000;
  padding: 0em;
  margin: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.1em;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
code {
  font-family: Courier;
  color: #006600;
  background-color: #FCFCFC;
  font-size: 11px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0.3em;
  display: block;
  white-space: pre;
}
pre {
  font-family: Courier, Courier New;
  font-size: 11px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: block;
}
ul {
  margin-top: 0.2em;
  margin-bottom: 1em;
}
.mainTable {
}

.contentBorder {
  width: 38.0625em;
}
.logo {
  padding: 0.375em;
  padding-top: 0.75em;
  vertical-align: bottom;
}
.right {
  width: 0.125em;
}
.center {
  width: 100%;
}
.left {
  width: 0.125em;
}
.content {
  width: 38.06em;
  background-color: #F0F0F0;
}
.menu {
  width: 100%;
  border: 0px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-size: 0.75em;
  text-align: left;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
.menu a {
  text-decoration: none;
  display: block;
  white-space:nowrap;
  text-align: left;
  padding-left: 1.25em;
  padding-right: 3.5625em;
  color: #444444;
  border: none;
}
.menu a:hover {
  color: #FF8711;
}
.menu b {
  font-family: Verdana, Arial, Helvetica, sans, serif;
  display: block;
  white-space: nowrap;
  text-align: left;
  padding-left: 1.25em;
  padding-right: 3.5625em;
  cursor: default;
}
.contentTd {
  width: 100%;
  vertical-align: top;
  padding: 1.25em;
  padding-top: 3.5em;
  font-size: 0.625em;
  color: #444444;
  font-family: Verdana, Arial, Helvetica, sans, serif;
}
.eyecatcher {
  padding: 1em;
  background-color: #FFFFFF;
  color: #000000;
  border: 0.0625em solid #A9FF2F;
  text-align: left;
}
.menuTable {
  width: 100%;
  height: 100%;
}
.externalIcons {
  margin-left: 1em;
  margin-right: 2em;
}
.insertLevel {
  padding-left: 0.75em;
}
.listeningTable {
  background-color: #FFFFFF;
  margin-top: 1em;
  border: 1px dashed #FF9F07;
  width: 100%;
}
.listeningTable th {
  padding: 0.2em;
  font-size: 0.625em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  background-color: #F0F0F0;
}
.listeningTable td {
  font-size: 0.625em;
  padding: 0.2em;
}
.listeningTable a {
  border: none;
}
.linkList {
  margin-top: 1em;
  background-color: #FFFFFF;
  padding-left: 2em;
  border: 1px dashed #FF9F07;
  padding-bottom: 2em;
  display: block;
}
.linkList h2 {
  margin-top: 1.2em;
  margin-bottom: 0.2em;
}
.linkList a {
  border: none;
  display: block;
  color: #666666;
  padding-left: 0.2em;
}
.tab {
  display: block;
  padding-left: 1em;
  text-align: left;
}
.conceptList {
  padding: 0px;
  list-style: none;
}
.conceptList ul {
  padding-left: 2em;
}
.note {
  font-style: italic;
}