.imageLogo {
  width: 5.375em;
  height: 0.625em;
  border: 0.125em solid #444444;
}
.imageBorderTopRight {
  position: absolute;
  left: -21.5625em;
  height: 1.25em;
  width: 21.6875em;
}
.imageBorderTopCenter {
  width: 100%;
  height: 0.125em;
}
.imageBorderTopLeft {
  height: 0.125em;
  width: 0.125em;
}
.imageBorderMiddleLeft {
  width: 0.125em;
  height: 100%;
}
.imageBorderMiddleRight{
  width: 0.125em;
  height: 100%;
}
.imageBorderBottomLeft {
  width: 0.125em;
  height: 0.125em;
}
.imageBorderBottomCenter {
  width: 100%;
  height: 0.125em;
}
.imageBorderBottomRight {
  width: 0.125em;
  height: 0.125em;
}
.imageSeparatorVertical {
  width: 0.125em;
  height: 100%;
}